.hero-bg {
    background: url(data:image/svg+xml;base64,PHN2ZyBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCBzb…FkaWFsR3JhZGllbnQtMykiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 280px;
}

.animate-bg {
    -ms-transform: translateY(-60px);
    transform: translateY(-60px);
    opacity: 0;
}
