

h1, h2 {
  font-family: 'Source Sans Pro', sans-serif;
  

}
h3, h4, h5, h6, p, a {
  font-family: 'Raleway', sans-serif;
}



* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow:hidden; */
}
/* ----------------------------------------- */
/* APP COMPONENT STYLES  */
/* ----------------------------------------- */
.App {
  text-align: center;
  justify-content: center;
}



.App-header {
  background-color: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.main-invoice-container{
  border:solid 5pt red;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.app-container{
  width:100%;
  max-width: 500px;
  margin:0 auto;
}

.appTitle{
  color:#ffffff;
}





/* ----------------------------------------- */
/* LIST CONTAINER COMPONENT STYLES  */
/* ----------------------------------------- */
/* .list-container-wrapper{
    overflow: hidden;

} */

.list-container{
  /* height:auto; */
  /* margin-top: 40px; */
	overflow: auto;
  ;
	height:100vh;
}


/* ----------------------------------------- */
/* LIST ITEM COMPONENT STYLES  */
/* ----------------------------------------- */
.list-item-wrapper{
  padding-top: 2%;
  box-shadow: 3px 3px 20px 3px rgba(0,0,0,0.1);
  color:black !important;

}

.list-info{
  width:33vw;
  border:white solid;
  background-color: rgba(255, 255, 255, 0.671);
  padding:2%;
  height: auto;
  justify-content: center;
  display: flex;
  align-content: center;
  
  
}
.item-title{
  font-weight: 800;
  font-size: 16pt;
  color:rgba(0,0,0,0.7);
  

}
.title-line{
  width:2px;
  height:100%;
  background-color: white;
}
.item-id{
font-size: 12pt;
}
.item-date{
font-size: 10pt;
font-weight: 200;
color:rgba(0,0,0,0.45)
}
.item-edit-delete-btn{
  padding:2%;
  height:auto;
  width:auto;
  border:solid rgba(0,0,0,0.9) 0.3pt;
  /* border-radius: 2%; */
}



/* ----------------------------------------- */
/* MAIN INVOICE COMPONENT STYLES  */
/* ----------------------------------------- */

.invoice-container{
  background-color: white;
  /* border:black solid; */
  width:70%;
  height:85vh;
  margin-left:5%;
  margin-top:3%;
  padding:3%;
  color:black;
  box-shadow: 3px 3px 20px 3px rgba(0,0,0,0.3);
}
.main-details{
  color:black !important;
}
.main-heading{
  display:flex;
  justify-content: space-between;
}
.main-title{
  font-weight: 800;
  font-size: 30pt;
}
.main-id{
  font-weight: 300;
  font-size: 16pt;
  color:rbga(0,0,0,0.2) !important;
}
.main-line-1{
  width:95%;
  margin:0 auto;
  height:1px;
  background-color: black;
}
.user-background{
  background-color:white;
  width:87vw;
  height:100vh;
  margin:0 auto;
}
.half-background{
  height:50vh;
  background:whitesmoke;
}
.user-page-wrapper{
  background-color: white;
  display:flex;
  padding-left:3%;
  padding-right:3%;
}

.farthest-user-background{
  background-color: rgba(221,221,221,1);
  width:100vw;
  height:100vh;
}