/* Font Styles
--------------------*/

h1, h2 {
  font-family: 'Source Sans Pro', sans-serif;
}

h3, h4, h5, h6, p, a {
  font-family: 'Raleway', sans-serif;
}

body{
  font-size: 1rem;
}




/* Antialias for Smoother Fonts
-----------------------------------*/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow:hidden; */
}


/* Hover Scale Effect
-------------------------------------------*/
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }





/* ----------------------------------------- */
/* APP COMPONENT STYLES  */
/* ----------------------------------------- */
.App {
  text-align: center;
  justify-content: center;
  padding:100px 0px;
  background-color: #fff;
  height: 100%;
}



.App-header {
  background-color: #d6d6d6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid #c7c7c7;
    padding: 15px 0px;
        border-radius: 3px;
}
.main-invoice-container{
  border:solid 5pt red;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.app-container{
  width:100%;
  max-width: 700px;
  margin:0 auto;
}

.appTitle{
  color:#ffffff;
}

.start-btn{
  width: 100%;
  max-width: 255px;
}
.stop-btn{
  width: 100%;
  max-width: 255px;
}
.end-btn{}

.stopWatch{
  background-color: #a0a0a0;
  padding: 20px;
}


/* Responsive Typography
-----------------------*/

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}





/* ----------------------------------------- */
/* LIST CONTAINER COMPONENT STYLES  */
/* ----------------------------------------- */
/* .list-container-wrapper{
    overflow: hidden;

} */

.list-container{
  /* height:auto; */
  /* margin-top: 40px; */
	overflow: auto;
  ;
	height:80vh;
}


/* ----------------------------------------- */
/* LIST ITEM COMPONENT STYLES  */
/* ----------------------------------------- */
.list-item-wrapper{
  padding-top: 2%;
  color:black !important;
  box-shadow: 3px 3px 2px 3px rgba(0,0,0,0.04);
}
@media(max-width:950px){
  .list-item-wrapper{
    width:80vw;  }

}

.list-info{
  width:33vw;
  border:rgba(0,0,0,0.1) solid 3pt;
  border-left:hidden;
  border-top:white 2pt;
  border-bottom:rgba(0,0,0,0.1) solid 2pt;
  background-color: rgba(230, 230, 230, 0.671);
  border-radius: 10px 0 0 0;
  padding:2%;
  height: 10%;
  justify-content: center;
  display: flex;
  justify-content: space-around;
  align-content: center;
  cursor: pointer;
  /* vertical-align: middle; */
}
@media(max-width:950px){
  .list-info{
    width:80vw;  }
}
.list-info:hover{
  background-color: rgba(220, 220, 220, 0.671);

}
.item-title{
  font-weight: 650;
  font-size: 16pt;
  color:rgba(0,0,0,0.7);


}
.title-line{
  width:2px;
  height:100%;
  background-color: white;
}
.item-id{
font-size: 12pt;
}
.item-date{
font-size: 10pt;
font-weight: 200;
color:rgba(0,0,0,0.45)
}
@media(max-width:400px){
  .item-date{
    display:none;  }

}
.your-invoices{
  font-weight: 200;
  padding-top: 7%;
  /* padding-bottom: 1%; */
}

/* @media(max-width:850px){
  .list-info{
    width:80vw;  }

} */

.edit-container{
  height:23px;
  width:23px;
  /* padding-top: 8%; */
  position:relative;


}
.delete-container{
  height:23px;
  width:23px;
  position:absolute bottom;
  /* padding-top: 8%; */
  position:relative;

}
.item-edit-btn{
  background-image: url("./media/edit_icon.png");
  background-size: cover;
  /* padding:2%; */
  height:20px;
  width:20px;
  opacity: 0.2;
  position:relative;

}
.item-delete-btn{
  background-image: url("./media/delete_icon.png");
  background-size: cover;
  /* padding:2%; */
  height:23px;
  width:23px;
  opacity: 0.2;
  position:relative;

  /* border:solid rgba(0,0,0,0.9) 0.3pt; */
  /* border-radius: 2%; */
}
.item-edit-btn:hover{
  opacity: 0.8;
}
.item-delete-btn:hover{
  opacity: 0.8;
}

.buttons-wrapper{
  display:flex;
}


/* ----------------------------------------- */
/* MAIN INVOICE COMPONENT STYLES  */
/* ----------------------------------------- */

.invoice-container{
  background-color: white;
  border:black;
  width:70%;
  height:85vh;
  margin-left:5%;
  margin-top:3%;
  padding:3%;
  color:rgba(0,0,0,0.8);
  border-radius: 15px 0 0 0;
  position: relative;
  white-space: pre-wrap;
  box-shadow: 3px 3px 20px 3px rgba(0,0,0,0.3);
}
@media(max-width:950px){
  .invoice-container{
    width:90vw;
    margin-left: 0;
  }

}



.main-heading{
  display:flex;
  justify-content: space-between;
}
.main-title{
  font-weight: 650;
  font-size: 30pt;
  color:rgba(0,0,0,0.8) !important;
  padding-bottom: 35px;
}
.main-id{
  font-weight: 300;
  font-size: 16pt;
  color:rbga(0,0,0,0.2);
}
.main-date{
  font-weight: 400;
  font-size: 15pt;
  padding-left: 10px;
  text-align: right;
}
.main-line-1{
  width:95%;
  margin:0 auto;
  height:1px;
  background-color: black;
}

.desc-word{
  font-weight: 600; 
}
.main-description{
  padding-top:20px;
  padding-left: 10px;
  /* padding-right: 10px; */
  font-size: 16pt;
  font-weight: 300;
}

.main-details{
  padding-top:20px;
  padding-left: 10px;
  color:black !important;
  font-size: 16pt;
  font-weight: 300;
  padding-bottom:35px;
}
.main-time{
  text-align: right;
  font-weight: 800;
  font-size: 16pt;
  padding-right: 10px;
}

.main-total{
  font-weight: 800;
  text-align: right;
  padding-top: 30px;
}

.details-word{
  font-weight: 600;
}
.user-background{
  background-color:white;
  width:87vw;
  height:100vh;
  margin:0 auto;
}
.half-background{
  height:50vh;
  background:whitesmoke;
	background-image: linear-gradient(rgba(200,200,200,0.2),rgba(200,200,200,1) );
}
.user-page-wrapper{
  background-color: white;
  display:flex;
  padding-left:3%;
  padding-right:3%;
}

@media(max-width:950px){
  .user-page-wrapper{
flex-wrap: wrap-reverse;  }

}

.farthest-user-background{
  background-color: rgba(221,221,221,1);
  width:100vw;
  height:100vh;
}

/* ----------------------------------------- */
/* RECIEPT MODAL STYLES  */
/* ----------------------------------------- */


#modal-title{
  padding-left: 20px;
  font-size: 10pt;
  font-weight: 700;
  /* text-align:center;
  margin:0 auto; */
}
/* #multiply{
  text-align: right;
} */


#modal-name{
  font-size: 60pt !important;
  font-weight: 700 !important;
  padding-left: 20px !important;
}
.modal-description{
  font-size: 14pt !important;
  font-weight: 300 !important; 
  padding-left: 20px !important;
}
.modal-time{
  text-align: right !important;
  padding-left: 20px !important;

}
.modal-rate{
  text-align: right !important;
}
.description-bold{
  font-weight: 500 !important;
  font-size: 15pt !important;

}

h5{
  font-size: 14pt !important;
}

